################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/myApp
/bin/Debug/netcoreapp2.2
/obj
/.vs
/HousePriceService/bin/Debug/netcoreapp2.2
/HousePriceService/obj/Debug/netcoreapp2.2
/HousePriceService/obj/Release/netcoreapp2.2
/HousePriceService/obj
